*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--brown);
    background-color: var(--eggshell);
}

h1, h2, h3, p {
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}